.alert-danger {
    position: fixed;
    display: none;
    width: 100%;
    height: 75px;   
    top: 0;
    justify-content: space-between;
    animation: slideDown 1s ease-in-out;
    z-index: 2;
    cursor: pointer;
}


@keyframes slideDown {
    from {
        transform: translate3d(0, -150px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}